@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}


body{
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  color: #1A1A1A;
  background-color: #F1F7ED;
}

#header{
  height: 80px;
}


.slidebox{
  width: 400px;
  height: 260px !important;
  position: relative;
}


.ad_slider .item{
  box-shadow: 0 4px 5px #F1F7ED;
  padding: 10px;
  position: relative;
}

.slick-dots li.slick-active button::before{
  color: #FA9F42;
}

.slick-dots li button::before{
  font-size: 10px;
}

slick-next::before,
slick-prev::before{
  color: #FA9F42;
  font-size: 22px;
}

.item:hover{
  display: block;
  transition: all ease 0.3s;
  transform: scale(1.1) translateY(-5px);
}








.App {
  height: auto;
}

#root{
  height: 100%;
}


.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
  /* @apply bg-slate-400/50 w-1.5; */
  background-color: rgb(148 163 184 / 0.5);
  width: 0.375rem /* 6px */;
}



@media (max-width: 1007px) {
  .pointicon{
    margin-left: 22% !important;
  }
}


@media (max-width: 768px) {
  .sidebar, .slidebanner{
    display: none !important;
  }

  .trips{
    margin-top: 10% !important;
  }

  .logo {
    width: 100%;
    position: relative;
  }

  
}

@media (min-width: 1100px) {
  .slidebox{
    width: 840px;
    height: 260px !important;
    margin-left: -10px;
    margin-right: 40px
  }
  
}